# Ignore Gradle project-specific cache directory
.gradle

.class

# Ignore Gradle build output directory
build

app/build

# Ignore Kotlin plugin data
.kotlin

.DS_Store

# Ignore local saves
.sav

.bin

.lock
