@font-face {
    font-family: 'LexendStd';  /* Le nom que vous utiliserez plus bas */
    src: url('./fonts/Lexend-Light.ttf'); /* Chemin RELATIF au fichier CSS */
}

@font-face {
    font-family: 'LexendTitle';  /* Le nom que vous utiliserez plus bas */
    src: url('./fonts/Lexend-Medium.ttf'); /* Chemin RELATIF au fichier CSS */
}

/* 2. On l'applique partout (ou sur des éléments précis) */
.root {
    -fx-font-family: 'LexendStd'; /* Applique la police à toute l'application */
    -fx-font-size: 18px;
}

/* Exemple spécifique pour un bouton */
.button {
    -fx-font-family: 'Lexend Light';
}

.title-label {
    -fx-font-family: 'Lexend Medium';
    -fx-font-size: 36px;
}

